<script type="text/javascript" src="{% static "3rdparty/raphael-2.1.0/raphael-min.js" %}"></script>
<script type="text/javascript" src="{% static "3rdparty/raphael-2.1.0/scale.raphael.js" %}"></script>
<script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
<div id="roi_in_preview" style='width:{{image_width}}px; height:{{image_height}}px; border:solid black 1px'>
	<img src="{% url 'webgateway.views.render_image' image_id shape.theZ shape.theT %}" style="position:absolute" />
	<div id="roi_canvas" style='width:{{image_width}}px; height:{{image_height}}px; position:absolute'></div> 
</div>
<div id="column_plot" style="width: 200px; height: 200px;">

<script>
	var orig_width = 300
	var orig_height = 300
	var paper = new Raphael("roi_canvas", orig_width, orig_height);
	paper.path("{{points}}").attr({stroke: "red"})

	// var value = getColumn("roi_results_table", 2);
	// var rowCount = document.getElementById('myTableID').rows.length;
	var area = tableData.map(function(row) {return row[0]});
	var mean = tableData.map(function(row) {return row[1]});
	var sizemat = [];
	var cntr = 0;
	for (var cntr=0; cntr< area.length; cntr++) {
		sizemat.push(cntr == table_row_id ? 20 : 10)
	}

	var trace1 = {
	  x: area,
	  y: mean,
	  mode: 'markers',
	  marker: {
	    size: sizemat
	  }
	};

	var data = [trace1];

	var layout = {
	  title: 'Marker Size',
	  showlegend: false,
	  height: 600,
	  width: 600
	};

	Plotly.newPlot('column_plot', data, layout);
</script>

