<head>
    <style>
        table {
            border-spacing: 0;
            width: 30%;
            border: 1px solid #ddd;
        }

        th {
            cursor: pointer;
            font-weight: bolder;
        }

        th, td {
            text-align: left;
            padding: 10px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
        tr.selected td {
            background-color: #333;
            color: #fff;
        }

    </style>
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script>
        var tableData = {{roi_table_data}}
        var table_row_id;
        $(function (){
            $( "#results_roi_table tbody" ).on( "click", "tr.body_table", function() { 
                var roi_id = parseFloat($( this ).attr("data-roi-id"));
                var tr = $( this ).closest('tr');
                table_row_id = parseFloat($( this ).closest('tr').index());
                tr.addClass("selected").siblings().removeClass("selected");

                var url = '{% url 'webgallery_index' %}' + "gallery/show_roi_in_preview/" + roi_id + "/"
                $("#roi_in_preview").load(url)
            });

           // simple emulation of table-sorter for other elements...
           // performs sort when intialised on 'sort-init' column
           $("#results_roi_table tbody").elementsorter({
               head: 'th',             // Selector for the equivalent of 'table head'
               body: 'tr.body_table',                 // Selector for the equivalent of 'table rows'
               sort_key: '.hidden_sort_text'   // optional - how to find the text within each child of a 'row'.
           });

        }) 
    </script>
</head>

<table id="results_roi_table" class="tablesorter">
    <tbody>
        <tr>
            {% for val in table_col_names %}
                <th class="sort-numeric">{{val}}</th>
            {% endfor %} 
        </tr>
        {% for s in shapes %}
            <tr class="body_table" data-roi-id="{{s.0}}">
                {% for val in s %}
                    <td>{{val}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

